.login-btn {
    width: 193px;
    height: 48px;
    border-radius: 18px;
    border: solid 1px #454545;
    background-color: #000000;
    color: white;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-self: center;
}