.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  position: relative;
  grid-template-columns: 100vw;
  grid-template-rows:  120px auto 120px;
  /* grid-template-rows: 24px 53px 37px auto 5rem; */
  grid-template-areas:

  ' nav '
  ' main '
  ' footer '
  ;
    grid-gap: 0;
  }

/* .grid-nav {
  grid-area: nav;
  position: fixed;
} */
.grid-main {
  grid-area: main;
}

.mapContainer {
  margin: 2vw 0 4vw 0;
  position: relative;
}

.map{
  background-color: transparent;
  position: relative;
  /* padding: 10vw !important; */
  height: 30vw !important;
  width: 50vw !important;
  margin: 0 25vw  !important;
  /* margin-bottom: 10vw; */
}


.serviceContainer {
  /* width: 1095px;
  height: 1968px; */
  border: solid 1px #979797;
  padding: inherit

}

.map {
  width: 1055px;
  height: 137px;
  border-radius: 18px;
  border: solid 1px #979797;
  background-color: #ffffff;
  position: flex;
  z-index: 20;
}

.brandLogo{
  width: 198px;
  height: 94px;
}




.input{
  width: 528px;
  height: 58px;
  border-radius: 18px;
  border: solid 1px #454545;
}
.zipInput{
  width: 124px;
  height: 58px;
  border-radius: 18px;
  border: solid 1px #454545;
}

.display{
  margin-left: 30px;
  display: -webkit-box;
  margin-bottom: .5rem;
  font-family: Inter;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
}

.noteDisplay{
  width: 816px;
  height: 240px;
  border-radius: 18px;
  border: solid 1px #454545;
}

.serviceButton{
  width: 193px;
  height: 48px;
  border-radius: 18px;
  border: solid 1px #454545;
  background-color: #ffffff;
  margin-left: 50vh
}

.category {
  width: 318.7px;
  height: 318.8px;
  border-radius: 16px;
  background-color: rgba(75, 75, 75, 0.45);
  object-fit: cover;
}

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vmin;
  grid-gap: 2em;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 1438px;
  height: 432px;
  background-color: #f6f6f6;
  position: absolute;
  width: 120rem;
}

.cat-header {
  margin-top: 5rem;
}

.copyright {
  text-align: center;
  font-size: 24px;
}

.links {
  font-size: 24px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px;
}

.footer-links {
  text-align: center;
  padding: 4rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.fab {
  font-size: 5rem;
  padding: 15px;
}


.fas {
  font-size: 5rem;
  padding: 15px;
}

.sort {
  height: 83px;
  background-color: #66adc8;
}

#dropdown-item-button {
  background-color: transparent;
  border-color: white;
  width: 12rem;
  border-radius: 15px;
  margin-top: 1.3rem;
  margin-left: 8rem;
}

.show {
  width: 12rem;
}


/* <-----------  Login Page  -----------> */

/* .loginContainer{
  background-image: url('/images/backlit-bright-dawn-697243.jpg')
} */


/* <-----------  NavBar CSS  -----------> */

.navbarContainer{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff!important;
  flex-flow: row nowrap;
  padding: .5rem 1rem;
}

.login-btn {
  justify-content: end;
  width: 193px;
  height: 48px;
  border-radius: 18px;
  border: solid 1px #454545;
  background-color: #000000;
  color: white;
  margin: 27px 27px 27px 0;
}

.involeved-btn {
  justify-content: end;
  width: 193px;
  height: 48px;
  border-radius: 18px;
  border: solid 1px #454545;
  background-color: white;
  color: black;
  margin: 27px
}

/* <-----------  Login Modal CSS  -----------> */

.modalBody{
  position: relative;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  padding: 1rem;
}

.modalButton{
  width: 224px;
  height: 58px;
  border-radius: 18px;
  background-color: #63a9c8
}

.mFooter{
  display: flex;
  justify-content: center;
  padding: 16px;

}


/* <-----------  Landing Page CSS  -----------> */


.image {
  background: url("/images/angel-watch-sunset-colors-landscape-2043837.jpg") no-repeat center center;
  background-size: cover;
 }

 .location-box {
  width: 528px;
  height: 58px;
  border-radius: 18px;
  border: solid 1px #454545;
  background-color: #f0f0f0;
 }

 .map-header {
  width: 60rem;
  height: 137px;
  opacity: 0.53;
  border-radius: 5px;
  border: solid 1px #979797;
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 }

 .map-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url("/images/angel-watch-sunset-colors-landscape-2043837.jpg");
   background-size: cover;
   background-position: center;
   height: 100vh;
 }
